---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import getPostData from '../../utils/getPostData';
export const prerender = true;
import type { MarkdownInstance } from 'astro';

// This is a type definition for the frontmatter of a markdown file.

interface Frontmatter {
    title: string;
    description: string;
    publishDate: Date;
    image?: string;
    href?: string;
}

export async function getStaticPaths() {
  const posts = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>('../../data/*.md', { eager: true }));
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate,image, href } = frontmatter;
---
<DefaultLayout title={title} description={description} current="blog">
  <div class="my-12">
    <section class="space-content container">
      <h1>{title}</h1>
      <p>{publishDate}</p>
      <p class="text-2xl pb-5">{description}</p>     
        <a href={href} target="_blank" class="text-xl">
          Article link
        </a>
      <Content />
    </section>
  </div>