---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
export const prerender = true;
import type { MarkdownInstance } from 'astro';

// This is a type definition for the frontmatter of a markdown file.

interface Frontmatter {
    title: string;
    description: string;
    publishDate: Date;
    image?: string;
    href?: string;
}

export async function getStaticPaths() {
  const posts = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>('../../data/*.md', { eager: true }));
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate,image, href } = frontmatter;
---
<DefaultLayout title={title} description={description} current="blog">
  <section class="container max-w-6xl mx-auto px-6 md:px-12 py-16">
    <div class="space-y-8">
      <h1 class="font-serif text-4xl md:text-5xl lg:text-6xl font-semibold text-foreground leading-tight">{title}</h1>
      <p class="text-lg text-foreground/80 leading-relaxed max-w-lg mb-4">{publishDate}</p>
      <p class="text-lg text-foreground/80 leading-relaxed max-w-lg mb-4 pb-5">{description}</p>     
        <a href={href} target="_blank" class="text-xl">
          Article link
        </a>
      <Content />
    </section>
  </div>