---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { Card } from "accessible-astro-components";
import type { MarkdownInstance } from 'astro';
interface Frontmatter {
    title: string;
    description: string;
    publishDate: Date;
    image?: string;
    href?: string;
}

const title = "Blog";
const description = "Latest articles.";
const permalink = `${Astro.site.href}blog`;

let allPosts = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>('../../data/*.md', { eager: true }));
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

---

<DefaultLayout title={title} description={description} current="blog">
  <div class="my-12">
    <section class="space-content container">
      <h1>Featured Articles</h1>
      <p class="text-2xl">
        Many of my articles are published on <a
          href="https://dev.to/jenlooper"
          target="_blank">Dev.to</a
        >. Other articles that I've written are <a
          href="https://community.aws/@jelooper"
          target="_blank">here</a
        >. The articles listed here are my more significant or interesting
        short-form writing. Some of these are from particularly engaging project
        announcements, some are really creative technical articles, some are
        thought pieces. You'll find posts here from
        my previous positions in Developer Advocacy at AWS, Microsoft, Progress/Telerik, and writing
        related to my nonprofit, Vue Vixens (later renamed to Front-End Foxes). I hope you enjoy them all. 
      </p>

      <div class="container">
        <ul class="my-3">
          {
            allPosts.map((post, index) => {
              const href = `/blog/${post.file.split("/").pop().split(".").shift()}`;
              return (
                <li>
                  <Card
                    img={post.frontmatter.image}
                    url={post.frontmatter.href}
                    title={post.frontmatter.title}
                    footer={post.frontmatter.publishDate}
                  >
                    {post.frontmatter.description}
                  </Card>
                </li>
              );
            })
          }
        </ul>
      </div>
    </section>
  </div>
</DefaultLayout>

<style lang="scss" is:global>
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  body .card {
    h3 {
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      line-height: 1.5rem;
    }
    p {
      padding-bottom: 0.5rem;
    }
  }
</style>
