---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Image } from 'astro:assets';
import img1 from '../assets/img/illus.jpg';
import img2 from '../assets/img/cs4kids.png';
import img3 from '../assets/img/snappy.png';
import img4 from '../assets/img/zines.png';
import img5 from '../assets/img/ai-kids.png';
---

<DefaultLayout title="Books">
    <section class="my-12">
        <div class="space-content container">
          <h1>Books, E-books & Zines</h1>
          <p class="text-2xl">         
            I've written two books for general consumption; both are accompanied by a website, free downloadables, and lesson plans. On this page I also list e-books and zines which are freely downloadable.
          </p>

          <section class="my-20">
            <div class="container">
              <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
                <Image src={img1} alt="Illustrated AWS Cloud" class="max-h-[500px]" decoding="async" />
                <div class="space-content flex flex-col justify-center">
                  <h2>The Illustrated AWS Cloud</h2>
                  <p class="text-2xl">
                    In this book from Wiley, learn all about the AWS Cloud and prepare for the Cloud Practitioner Exam, learning Cloud fundamentals alongside Jen (storyteller) and Denise Yu (illustrator). This book doubles as a coloring book!
                  </p>
                  <p class="text-2xl">Learn more <a href="https://illustrated-aws.netlify.app/">here</a>.</p>
                </div>
              </div>
              <hr class="my-10"/>
            </div>
          </section>

          <section class="my-20">
            <div class="container">
              <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
                <Image src={img2} alt="CS for Kids" class="max-h-[500px]" decoding="async" />
                <div class="space-content flex flex-col justify-center">
                  <h2>Computer Science for Kids: A Storytelling Approach</h2>
                  <p class="text-2xl">
                    Aligned for grades 6-8, this textbook is for sale on Amazon and at a bookstore near you. It's a rethinking of the Middle School Computer Science curriculum and includes a website and GitHub code in a project-based, storytelling-infused format. Watch for the 'hidden curriculum' featuring sustainability!
                  </p>
                  <p class="text-2xl">Learn more <a href="https://cs4kids.club">here</a>.</p>
                </div>
              </div>
              <hr class="my-10"/>
            </div>
          </section>

          <section class="my-20">
            <div class="container">
              <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
                <Image src={img3} alt="Snappy Squirrel Ebooks" class="max-h-[500px]" decoding="async" />
                <div class="space-content flex flex-col justify-center">
                  <h2>Snappy Squirrel Scrollybooks</h2>
                  <p class="text-2xl">
                    Snappy Squirrel needs a new nest and has to learn financial strategies to achieve his goals. Designed for kids and parents to learn together about smart money management, these scrollytelling e-books are a collaboration between Jen and her father, Jerry Looper.
                  </p>
                  <p class="text-2xl">Learn more <a href="https://snappy.jenlooper.com">here</a>.</p>
                </div>
              </div>
              <hr class="my-10"/>
            </div>
          </section>

          <section class="my-20">
            <div class="container">
              <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
                <Image src={img4} alt="Zines" class="max-h-[500px]" decoding="async" />
                <div class="space-content flex flex-col justify-center">
                  <h2>MaZines: Zines about Machine Learning</h2>
                  <p class="text-2xl">
                    Download, print out, and fold this free library of colorable zines all about machine learning and AI.
                  </p>
                  <p class="text-2xl">Learn more <a href="https://zines.jenlooper.com">here</a>.</p>
                </div>
              </div>
              <hr class="my-10"/>
            </div>
          </section>

          <section class="my-20">
            <div class="container">
              <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
                <Image src={img5} alt="AI for Kids" class="max-h-[500px]" decoding="async" />
                <div class="space-content flex flex-col justify-center">
                  <h2>AI for Kids</h2>
                  <p class="text-2xl">
                    A collaboration between Jen and her Microsoft colleagues for a hackathon, this booklet is a gentle introduction to AI for kids and parents.
                  </p>
                  <p class="text-2xl">Learn more <a href="https://jenlooper.gumroad.com/l/ai-for-kids-book?layout=profile">here</a>.</p>
                </div>
              </div>
            </div>
          </section>
        </div>
    </section>
</DefaultLayout>
