---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Image } from 'astro:assets'
import webdevImg from '../assets/img/webdev.png'
import mlImg from '../assets/img/ml.png'
import kitchenImg from '../assets/img/kitchen-sune.png'
import quicknomsImg from '../assets/img/quicknoms.png'
import thinglearnImg from '../assets/img/thinglearn.png'
---

<DefaultLayout title="Curricula">
  <section class="my-12">
    <div class="space-content container">
      <h1>Great Curricula</h1>
      <p class="text-2xl">
        I'm passionate about great curriculum design. In my opinion, there are no poor teachers, only teachers ill equipped by poorly-designed curriculum. Here are some of the curricula I've developed from my various teaching experiences.
      </p>

      <h2>University Teaching</h2>

      <section class="my-20">
        <div class="container">
          <div class="grid grid-cols-1 gap-12">
            <div class="space-content flex flex-col justify-center">
              <h3>CS 601: Front-End Development</h3>
              <p class="text-2xl">
                Taught at Boston University Metropolitan College, this curriculum used these <a href="https://github.com/jlooper/CS601">CS 601 Code Snippets</a>.
                Previously hosted on Glitch, now on GitHub, these snippets demonstrate various aspects of using HTML, CSS, and JavaScript to build websites.
              </p>
            </div>
          </div>
          <hr class="my-10"/>
        </div>
      </section>

      <h2>Microsoft's "For Beginners" Series</h2>

      <section class="my-20">
        <div class="container">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Image src={webdevImg} alt="Web Development for Beginners Curriculum" class="max-h-[500px]" decoding="async" />
            <div class="space-content flex flex-col justify-center">
              <h3>Web Dev for Beginners</h3>
              <p class="text-2xl">
                I designed and developed the viral "For Beginners" at Microsoft. These are free and open repos on GitHub with thousands of stars, ranking highly in most-starred repos globally.
              </p>
              <p class="text-2xl">Learn more <a href="https:/aka.ms/webdev-beginners" target="_blank">here</a>. Sketchnotes by Tomomi Imuri</p>
            </div>
          </div>
          <hr class="my-10"/>
        </div>
      </section>

      <section class="my-20">
        <div class="container">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Image src={mlImg} alt="Machine Learning for Beginners Curriculum" class="max-h-[500px]" decoding="async" />
            <div class="space-content flex flex-col justify-center">
              <h3>Machine Learning for Beginners</h3>
              <p class="text-2xl">
                Among other curricula developed at Microsoft, I designed and wrote large parts of the Machine Learning for Beginners Curriculum.
              </p>
              <p class="text-2xl">Learn more <a href="https:/aka.ms/ml-beginners" target="_blank">here</a>. Sketchnotes by Tomomi Imuri</p>
            </div>
          </div>
          <hr class="my-10"/>
        </div>
      </section>

      <h2>Other Creative Curricula</h2>

      <section class="my-20">
        <div class="container">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Image src={kitchenImg} alt="Kitchen-Sune Recipe Book" class="max-h-[500px]" decoding="async" />
            <div class="space-content flex flex-col justify-center">
              <h3>Kitchen-Sune</h3>
              <p class="text-2xl">
                The Front-End Foxes Global Recipe Book
              </p>
              <p class="text-2xl">Learn more <a href="https://kitchen-sune.netlify.app" target="_blank">here</a>.</p>
            </div>
          </div>
          <hr class="my-10"/>
        </div>
      </section>

      <section class="my-20">
        <div class="container">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Image src={quicknomsImg} alt="QuickNoms" class="max-h-[500px]" decoding="async" />
            <div class="space-content flex flex-col justify-center">
              <h3>QuickNoms</h3>
              <p class="text-2xl">
                5 ingredients, 15 minutes, dinner is served!
              </p>
              <p class="text-2xl">Learn more <a href="https://quicknoms.netlify.app" target="_blank">here</a>.</p>
            </div>
          </div>
          <hr class="my-10"/>
        </div>
      </section>

      <section class="my-20">
        <div class="container">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Image src={thinglearnImg} alt="ThingLearn" class="max-h-[500px]" decoding="async" />
            <div class="space-content flex flex-col justify-center">
              <h3>ThingLearn</h3>
              <p class="text-2xl">
                It's a curriculum, a community, and a lot of fun! Let's learn about the Internet of Things together.
              </p>
              <p class="text-2xl">Learn more <a href="https://thinglearn.netlify.app" target="_blank">here</a>.</p>
            </div>
          </div>
          <hr class="my-10"/>
        </div>
      </section>

    </div>
  </section>
</DefaultLayout>

